<h1><%= @content.title %></h1>
<h2><%= @content.header_1 %></h2>
<p><%= @content.content_1 %></p>

<h2><%= @content.header_2 %></h2>
<p><%= @content.content_2 %></p>

<h2><%= @content.header_3 %></h2>
<p><%= @content.content_3 %></p>

<h2><%= @content.tag_line %></h2>

<%= link_to "Home", root_path %>
