<% form_for( @content, :url => { :action => "update" } ) do |f| -%>

	<% if @content.errors.any? %>
	<div id="errorExplanation">
	  <h2><%= pluralize(@content.errors.count, "error") %> prohibited this record from being saved:</h2>
	  <ul>
	  <% @content.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
	<% end %>

	<%= f.label :title, "Title" %><br>
	<%= f.text_field :title %><br>

	<%= f.label :header_1, "header_1" %><br>
	<%= f.text_field :header_1 %><br>

	<%= f.label :content_1, "content_1" %><br>
	<%= f.text_area :content_1 %><br>

	<%= f.label :header_2, "header_2" %><br>
	<%= f.text_field :header_2 %><br>

	<%= f.label :content_2, "content_2" %><br>
	<%= f.text_area :content_2 %><br>

	<%= f.label :header_3, "header_3" %><br>
	<%= f.text_field :header_3 %><br>

	<%= f.label :content_3, "content_3" %><br>
	<%= f.text_area :content_3 %><br>
	
	<%= f.label :header_4, "header_4" %><br>
	<%= f.text_field :header_4 %><br>
	
	<%= f.label :content_4, "content_4" %><br>
	<%= f.text_area :content_4 %><br>
	
	<%= f.submit "Save!", :disable_with => 'Saving...' %>
<% end -%>