<h1>New Quote</h1>

<%= render "shared/error_messages", :target => @quote %>


<% form_for @quote do |f| -%>
	<%= f.label :author, "Author" %><br>
	<%= f.text_field :author %><br>

	<%= f.label :words_of_wisdom, "Words of Wisdom" %><br>
	<%= f.text_area :words_of_wisdom %><br><br>
	
	<%= f.submit "Update", :disable_with => 'Updating...' %>
<% end -%>