<h1><%= @content.title %></h1>
<h2><%= @content.main_header %></h2>
<p><%= @content.main_content %></p>

<h2><%= @content.subheader_1 %></h2>
<p><%= @content.subcontent_1 %></p>

<h2><%= @content.subheader_2 %></h2>
<p><%= @content.subcontent_2 %></p>

<h2><%= @content.subheader_3 %></h2>
<p><%= @content.subcontent_3 %></p>

<h2><%= @content.subheader_4 %></h2>
<p><%= @content.subcontent_4 %></p>

<h2><%= @content.subheader_5 %></h2>
<p><%= @content.subcontent_5 %></p>

<h2><%= @content.subheader_6 %></h2>
<p><%= @content.subcontent_6 %></p>


<%= link_to "Edit This Page", :action => "edit" %>