<div class="content-header">
	<img class="page-header" src="/images/contact-title.png"/>
</div>
<%= form_for @content, :url => :contacts_create do |f| -%>
<%= render "shared/error_messages", :target => @content %>

<%= f.label :header_1, "Header_1" %><br>
<%= f.text_field :header_1 %><br>

<%= f.label :link_1, "Link_1" %><br>
<%= f.text_field :link_1 %><br>

<%= f.label :header_2, "Header_2" %><br>
<%= f.text_field :header_2 %><br>

<%= f.label :link_2, "Link_2" %><br>
<%= f.text_field :link_2 %><br>

<%= f.label :number, "Number" %><br>
<%= f.text_field :number %><br>

<%= f.label :address_name, "Address Name" %><br>
<%= f.text_field :address_name %><br>

<%= f.label :address_street, "Street Address" %><br>
<%= f.text_field :address_street %><br>

<%= f.label :city, "City" %><br>
<%= f.text_field :city %><br>

<%= f.label :state, "State" %><br>
<%= f.text_field :state %><br>

<%= f.label :zip_code, "Zip Code" %><br>
<%= f.text_field :zip_code %><br>

<%= f.submit "Save", :disable_with => 'Saving...' %>

<% end -%>
