<p><%= @content.title %></p>
<p><%= @content.header_1 %></p>
<p><%= @content.link_1 %></p>
<p><%= @content.header_2 %></p>
<p><%= @content.link_2 %></p>
<p><%= @content.number %></p>
<p><%= @content.address %></p>
