<%= render "shared/error_messages", :target => @lead %>
<div class="content-header">
	<img class="page-header" src="/images/feature-your-business-title.jpg"/>
</div>
<div class="for-businesses-main">
	<h2><%= @content.header %></h2>
	<p><%= @content.content %></p>
	<p><%= @page %></p>

	<%= form_for @business_inquiries, :as => "business_inquiries", :url => { :controller => "business_leads", :action => "index" }, :html => { :id => "business-contact-form" } do |f| -%>
		<p class="full-width-clearer">Fields marked with * are required.</p>
		<div class="half-width-form">
			<%= f.text_field :first_name, :value => @lead ? @lead.first_name : "* First Name" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :last_name, :value => @lead ? @lead.last_name : "* Last Name" %>
		</div>

		<div class="half-width-form">
			<%= f.text_field :email, :value => @lead ? @lead.email : "* Email" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :phone, :value => @lead ? @lead.phone : "Phone Number" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :company, :value => @lead ? @lead.company : "* Company Name" %>
		</div>

		<div class="half-width-form">
			<%= f.text_field :website, :value => @lead ? @lead.website : "Website" %>
		</div>

		<div class="full-width-form">
			<%= f.text_field :address, :value => @lead ? @lead.address : "Street Address" %>
		</div>

		<div class="full-width-form">
			<%= f.text_field :city, :html => { :class => "business-input" }, :value => @lead ? @lead.city : "City" %>
			<select class="state-dropdown" name="business_inquiries[state]">
			  <%= options_for_select( [[ @lead ? @lead.state : "State", "" ]] + State::NAMES ) %>
			</select>
			<%= f.text_field :zip_code, :value => @lead ? @lead.zip_code : "Zip Code" %>
		</div>
		
		<div class="full-width-form">
		<%= f.text_area :message, :value => @lead ? @lead.message : "Message" %>
		</div>

		<div class="full-width-form business-tester">
			<p class="trebuchet">Are you Human?</p><br></br>
			<span class="trebuchet">What is three added to four?</span>
			<%= f.text_field :test, :value => "Whats the answer?" %>
		</div>
		<div class="full-width-form">
			<%= f.submit "Send!", :disable_with => 'Sending...', :html => { :class => "business-submit" } %>
		</div>
	<% end -%>

</div>

<!-- admin Stuffs -->
<%= render :partial => 'basics/edit_admin_stuff' %>
