<div class="content-header">
	<img class="page-header" src="/images/feature-your-business-title.jpg"/>
</div>
<div class="for-businesses-main">
	<h2><%= @content.header %></h2>
	<p><%= @content.content %></p>

	<%= form_for @business_inquiries, :as => "business_inquiries", :url => { :controller => "business_leads", :action => "index" }, :html => { :id => "business-contact-form" } do |f| -%>
		<div class="half-width-form">
			<%= f.text_field :first_name, :value => "First Name" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :last_name, :value => "Last Name" %>
		</div>

		<div class="half-width-form">
			<%= f.text_field :email, :value => "Email" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :phone, :value => "Phone Number" %>
		</div>
		
		<div class="half-width-form">
			<%= f.text_field :company, :value => "Company Name" %>
		</div>

		<div class="half-width-form">
			<%= f.text_field :website, :value => "Website" %>
		</div>

		<div class="full-width-form">
			<%= f.text_field :address, :value => "Street Address" %>
		</div>

		<div class="half-width-form">
			<%= f.text_field :city, :html => { :class => "business-input" }, :value => "City" %>
		</div>
		
		<div class="half-width-form">
			<select class="state-dropdown" name="business_inquiries[state]">
			  <%= options_for_select( [[ "State", "" ]] + State::NAMES ) %>
			</select>

		<%= f.text_field :zip_code, :value => "Zip Code" %>
		</div>
		
		<div class="full-width-form">
		<%= f.text_area :message, :value => "Message" %>
		</div>

		<div class="full-width-form business-tester">
			<span class="trebuchet">What is three added to four?</span>
			<p class="trebuchet">Are you Human?</p><br></br>
			<%= f.text_field :test, :value => "Whats the answer?" %>
		</div>
		<div class="full-width-form">
			<%= f.submit "Send!", :disable_with => 'Sending...', :html => { :class => "business-submit" } %>
		</div>
	<% end -%>

</div>

<!-- admin Stuffs -->
<%= render :partial => 'basics/edit_admin_stuff' %>
