<p><%= @content.title %></p>
<p><%= @content.main_header %></p>
<p><%= @content.main_content %></p>
<p><%= @content.subheader_1 %></p>
<p><%= @content.subcontent_1 %></p>
<p><%= @content.subheader_2 %></p>
<p><%= @content.subcontent_2 %></p>
<p><%= @content.subheader_3 %></p>
<p><%= @content.subcontent_3 %></p>
<p><%= @content.subheader_4 %></p>
<p><%= @content.subcontent_4 %></p>
<p><%= @content.subheader_5 %></p>
<p><%= @content.subcontent_5 %></p>
<p><%= @content.subheader_6 %></p>
<p><%= @content.subcontent_6 %></p>
