<p><%= @content.title %></p>
<p><%= @content.header_1 %></p>
<p><%= @content.content_1 %></p>
<p><%= @content.header_2 %></p>
<p><%= @content.content_2 %></p>
<p><%= @content.header_3 %></p>
<p><%= @content.content_3 %></p>
<p><%= @content.header_4 %></p>
<p><%= @content.content_4 %></p>
