<div class="edit-page">
	<div class="topper"></div>
	<div class="main-content">
		<h2>All Dem Widgets</h2>
		<%= link_to "New Widget", new_widget_path %>
		<div class="all-widget-previews">
			<% @widgets.each do |f| %>
			<div class="widget-preview">
				<h2><%= f.title %></h2>
				<%= f.text_1.html_safe %>
				<p><%= f.text_2.html_safe %></p>
				<% if f.widget_image? %>
					<%= image_tag f.widget_image.url(:mini) %>
				<% end %>
				<%= f.bottom_title %>
				<p>Activated on: <%= active(f).to_sentence %></p>
				<%= link_to "Edit", edit_widget_path(f.id) %>
				<%= link_to "Delete", { :action => "destroy", :id => f.id }, :confirm => 'Are you sure?', :method => :delete %>
			</div>
			<% end %>
			
		</div>
	</div>
	<div class="bottom"></div>
</div>