<h1><%= @content.title %></h1>
<h2><%= @content.header_1 %></h2>
<p><%= @content.link_1 %></p>

<h2><%= @content.header_2 %></h2>
<p><%= @content.link_2 %></p>

<h2><%= @content.number %></h2>
<p><%= @content.address %></p>

