<%= form_for @post, :url => {:controller => 'good_reads', :action => 'create'}, :html => { :multipart => true } do |f| -%>
   	<div class="full-width-clearer">
   		<%= f.label :title, "Title" %>
	   	<%= f.text_field :title %>
   	</div>

	<div class="full-width-clearer">
		<%= f.label :post, "Post" %>
	   	<%= f.text_area :post, :class => "mceEditor" %>	
	</div>
   	
  	<div class="full-width-clearer">
		<%= f.label :category, "Category" %>   
		<%= collection_select(@post, :category_id, Category.all, :id, :name, :prompt => true) %>
  	</div>
      
   <div class="full-width-clearer">
   	<% if @post.image? %>
	   	<%= image_tag @post.image.url(:thumb) %>
	   	<%= f.label :image_delete, "Delete that image!" %>
	       <%= f.check_box :image_delete %>
	   <% end %>


	   <%= f.file_field :image, :accept => "jpg/png" %>
	   <%= f.submit "Update", :disable_with => 'Updating...' %>
	
   </div>
   
<% end %>
