<h1>GOOD READS</h1>

<% if @posts.nil? %>
	<p>No New Posts. Please check back soon. </p>
<% else %>

<!-- This is for the first post	 -->
	<h2><%= @posts[0].title %></h2>
	<p><%= special_date(@posts[0].created_at) %></p><br>
	<% unless @posts[0].catagory.nil? %>
	<h1><%= @posts[0].catagory.name %></h1><br>
	<% end %>
	
	<p><%= shorten(@posts[0].post) %><br><br>
	<%= link_to "Read More", good_read_path(@posts[0].id) %></p><br>

<!-- This is for all the posts after -->
	<% i = 1 %>
	<% until i == 6 %>
	<% unless @posts[i].nil? %>
		<br>
		<h2><%= @posts[i].title %></h2>
		
		<p><%= special_date(@posts[i].created_at) %></p><br>
		
		<% unless @posts[i].catagory.nil? %>
			<h1><%= @posts[i].catagory.name %></h1><br>
		<% end %>
		
		<p><%= shorten(@posts[i].post) %><br><br>
		
		<%= link_to "Read More", good_read_path(@posts[i].id) %></p><br>
	<% end %>
	<% i += 1 %>
	<% end %>
	
<% end %>

<% if @catagories.nil? %>
	NO CATAGORIES YO!
<% else %>
	<h1>CATAGORIES</h1>
	<% @catagories.each do |f| %>
		<p><%= f.name %></p>
		<%= link_to "#{f.name}", :action => "show_catagories", :id => f.id %>
	<% end %>
<% end %>

<% unless session[:your_the_bomb_dot_com] %>
	<br><%= link_to "Manage Catagories", catagories_path %>
<% end %>