<h1><%= @title %></h1><br>

List of current spreadsheets:<br><br>
<ul>
	<li>affiliate - Last updated: <%= @affiliate %></li>
	<li>customer_detail - Last updated: <%= @customer_detail %></li>
	<li>customers_summary - Last updated: <%= @customers_summary %></li>
	<li>deal_detail - Last updated: <%= @deal_detail %></li>
	<li>merchant_information - Last updated: <%= @merchant_information %></li>
	<li>promotion - Last updated: <%= @promotion %></li>
</ul>