<div class="topper"></div>
<div class="full-width">
	<h1><%= @title %></h1><br>
	
	<h2>List of current spreadsheets:</h2>
	<ul>
		<% @hash.each do |key, value| %>
		<li><%= key %> - Last updated: <%= created_at_regardless(value) %>
			<% unless value.nil? %>
				<%= link_to "View!", spreadsheet_path(key) %></li>
			<% end %>
		<% end %>
	</ul><br>
	
	<%= link_to "Upload a Spreadsheet", new_spreadsheet_path %>
	
	<% unless @current_jobs.nil? %>
	<br><h2>Current spreadsheets being processed:</h2>
	<ul>
		<% @current_jobs.each do |f| %>
			<li><%= f.table %></li>
		<% end %>
	</ul>
	<% else %>
	  <br><h2>There are currently no jobs waiting to be processed.</h2>
	<% end %>
</div>