<h1>Spreadsheets#new</h1>
<p>Find me in app/views/spreadsheets/new.html.erb</p>

<% form_for Promotion.new, :url => update_spreadsheet_path do |f| -%>
  <%= f.label :upload, "File:" %>
  <%= f.file_field :upload %>

  <%= f.label :table, "Table" %>
  <%= f.radio_button :table, :affiliate %>
  <%= f.radio_button :table, :customer_detail %>
  <%= f.radio_button :table, :customer_summary %>
  <%= f.radio_button :table, :merchant_information %>
  <%= f.radio_button :table, :deal_detail %>
  <%= f.radio_button :table, :promotion %>
<% end -%>