<!DOCTYPE html>
<html>
<head>
  <title>Bigblockdeals | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery', 'global' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= render  'layouts/navigation' %>
	<div id="greater-container">
		<div id="container">

			<%= yield %>
			
		</div>
	</div>
	<div id="footer-topper"></div>
	<div id="footer-container">
		<ul id="footer">
			Testing
		</ul>
	</div>
</body>
</html>
<%= debug(params) if Rails.env.development? %>

