<!--
	TODO System Wide Notifications
	FIXME Duplicate Widgets
-->

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  	<%= stylesheet_link_tag :all %>
 	<%= javascript_include_tag :defaults, 'jquery', 'global', 'mbScrollable' %>
	<script src='https://www.dealcurrent.com/embed?publisherID=232'></script>
	<% if @loaddc == "true" %>
		<script src="https://s3.amazonaws.com/media.collarfree.com/dealcurrent/js/userwidget.js"></script>
	<% end %>
	<script>
  		function DCLoginListener(user)
		  {
		    if(!user)
		    {
		       document.getElementById("mydeals").style.display="none";
		       document.getElementById("login").innerHTML = "<a class=\"not-logged-in\" href=\"javascript: return false;\" onclick=\"javascript:ShowDCLogin();\"> Log In </a>";       
		    }
		    else {
				document.getElementById("mydeals").style.display="inline";	       
		       	document.getElementById("login").innerHTML = "<a class=\"logged-in\" href=\"#\" onclick=\"javascript:DCLogout();\"> Log Out </a>";
		    	}
		  	}
		</script>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>


</head>
<body>
	<%= render 'layouts/admin_nav' %>

	<%= render 'layouts/flash_messages' %>

	<%= render  'layouts/navigation' %>

	<div id="greater-container">
		<div id="container">
			<%= render 'layouts/quotes' %>
			
			<div class="content <%= @layout %>">
				<div class="topper"></div>
				<div class="main-content">
					<%= yield %>
				</div>
				<div class="bottom"></div>
			</div>

			<% if @layout == 'three-fourths' || @layout == 'mostly-text' %>
				<%= render 'layouts/sidebar' %>
			<% end %>

		</div>
	</div>

	<%= render 'layouts/footer' %>

</body>
</html>
<%= debug(params) if Rails.env.development? %>

